.cart-title .first-letter {
    color: #3c0098;
    font-size: 38px;
    font-weight: 700;
}

@media only screen and (min-width : 767px){
    .cart-title{
        margin-top: 8%;
    }
    
}

@media only screen and (max-width : 768px){
    .cart-title{
        margin-top: 13%;
    }
    
}